.chalH2{
  font-size: 30px;
  margin-top: -10px;
}
.chalH2 span span{
  font-size: 20px;
}
.chalH2 span span:nth-child(1),.chalH2 span span:nth-child(2){
  color:#9B6B9D;
}
.thin{
  font-family: 'Raleway';
  font-weight: 100;
}
