/* No Larger than mobile */
@media (max-width: 550px) {
  header button{
    margin: 0;
  }
  .rw-wrapper{
    margin-top: 30px;
    margin-left: 10px;
  }
  .rw-wrapper h2{
    margin-left: -10px;
  }
  .rw-sentence span{
    font-size: 150%;
    margin-left: -7px;
  }
  .rw-sentence{
    margin-bottom: 50px;
  }
  .searchDB{
    margin-top: 0px;
  }
  .icon-search{
    padding: 0px 0 0 10px;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    height: 60px;
    width: 236px;
    margin-left: 10px
  }
  input[type="text"]{
    width:246px; height: 46px;
    margin: -40px 0 100px 10px;
  }
  .challengeDiv input[type="text"]{
    margin: 8px 0 4px 0;
  }
  .row{
    padding: 0 10px;
  }
  .btmRow{
    padding: 0;
  }
  input[type="submit"]{
    margin: 0 0 0 75px;
  }
  input[type="submit"] .submitSol{
    margin-bottom: 0;
  }
  .submitBtns{
    input{
      float: left;
      margin-left: 15px;
    }
    button{
      float: right;
      margin-left: 15px;
    }
  }
  .sol-form {
    margin-bottom: -10px;
  }
  .chalh1{
    margin-left: 10px;
  }
  .searchDB{
    margin-top: 10px;
  }
  .form-group input[type=text]{
    margin: 40px 0 20px 10px;
  }
  .form-group input[type=password], .form-group input[type=email] {
    margin: 0 0 12px 10px;
    height: 46px;
  }
  .loginSpec{
    margin-top: 10px;
  }
  .loginBtn, .regBtn{
    margin: 0 15px 50px 0;
  }
  .question{
    margin-top: 20px;
  }
  .viewChal{
    margin-right: -5px;
  }
  .viewChalSol {
    margin-right: -21px;
  }
  .searchChal{
    margin-top: 40px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .submitBtns button {
    margin-left: 0px;
    // margin-right: -25px;
  }
}

/* No Larger than tablet */
@media (max-width: 740px) {
  .rw-sentence{
    margin-bottom: 50px;
  }
  .chalh1{
    margin-left: 10px;
  }
  .row{
    padding: 0 10px;
  }
  .btmRow{
    padding: 0;
  }
  .chalType{
    width: 222px;
  }
}
@media (max-width: 770px) {
  .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"]{
    width:340px;
  }
  .rw-wrapper input[type="text"]{
    width: 390px;
  }
}

/* Larger than desktop */
@media (min-width: 960px) {
  .viewChal{
    margin-right: 10px;
  }
  .viewChalSol{
    margin-right: 60px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  input[type="text"], input[type="password"], input[type="email"] {
    height: 60px;
    width: 262px;
  }
  input[type="submit"]{
    // margin: -71px 714px 0 25px
  }
  .rw-wrapper input[type="text"]{
    width: 507px;
  }
  .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"]{
    width:420px;
  }
  .loginBtn, .regBtn{
    float: right;
    margin: 30px -80px 80px 0;
  }
  .chalType{
    width: 262px;
  }
  .submitChal{
    float: left;
    margin: -71px 714px 0 25px;
  }
  .icon-search{
    padding-top: 4px;
  }
  .icon-search{
    padding: 4px 0 0 26px;
  }
}
