@import "fonts";
@import "normalize2";
@import "skeleton";
@import "stylesSkel";
@import "text_animation";
@import "highlight";

@import "normalize";
@import "base";
@import "layout";
@import "state";
@import "module";
@import "theme";

.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
  opacity: 1;
}
input {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
button, button-primary{
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
  float:right;
}
.button-primary{
  background-color: #6B969D;
  float: right;
}
.dashboardBtn{
  float: none;
}

.searchDB{
  background-color: #6B969D;
  color: white;
  transition: all .25s ease-in;
}
.searchDB:hover{
  background-color: #6B889D;
  border: 1px solid #6B889D;
  color: white;
}

[class^="icon-"]{
  font-size: 30px;
  font-weight: 700;
}

.authEmail {
  margin-top: 10px;
}

.search {
  margin: 40px 0 80px 10px;
}
.icon-search{
  padding: 10px;
}
.inline{
  display: inline-block;
}
.row .columns .searchChal{
  min-height: 240px;
  // overflow: hidden;
}
.chalSol {
  min-height: 200px;
  font-family: monospace;
}

.createdOn{
  margin-bottom: 20px;
}

form input {
  width: 220px; height: 35px;
  margin: 10px 0;
}
.msg {
  color: #D63284;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.userBottom{
  margin-top: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  min-height: 200px;
}

.chalh1{
  margin-top: -10px;
}

.chalType {
  margin-top: 10px;
  height: 123px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #919191;
}
textarea {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #919191;
  margin-bottom: 30px;
}
.tall{
  min-height: 140px;
  font-family: monospace;
}

label{
  font-weight: 700;
}

.pullUp{
  margin-top: 42px;
}

.pullDown{
  margin-top: 40px;
}


.searchChal{
  background: #fff;
  border: 2px dotted #ccc;
  margin: 10px auto 50px;
  padding: 0 20px;
  position: relative;
}
.searchChal h2{
  margin: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
}
.searchChal h2 span{
  font-size: 20px;
  float: right;
}
.searchChal h2 span:nth-child(5){
  color: #9B6B9D;
}
.searchChal2 h2 span:nth-child(5),.searchChal2 h2 span:nth-child(4),.searchChal2 h2 span:nth-child(3),.searchChal2 h2 span:nth-child(3){
  color: #9B6B9D;
}
.searchChal {
  font-size: 16px;
}
.viewChalChal{
  margin: 20px auto 0;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}
.viewChal{
  margin-right: 10px;
}

.viewChalSol{
  margin-right: 60px;
}

.favBack, .mychalBack{
  background: #d3d3d3;
  padding: 10px;
}

p strong span{
  font-weight: 100;
}
footer p{
  font-size: 12px;
  text-align: center;
}
.hljs {
  margin-left: 0px;
}
