@import "fonts";
@import "normalize2";
@import "skeleton";
@import "stylesSkel";
@import "text_animation";
@import "highlight";

@import "normalize";
@import "base";
@import "layout";
@import "state";
@import "module";
@import "theme";

.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
  opacity: 1;
}
[data-ng-cloak] {
  display: none;
}
input {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}
button, .button-primary{
  font-family: 'Raleway', sans-serif;
  margin-left: 20px;
  float:right;
}
.button-primary{
  background-color: #6B969D;
  float: right;
}
.dashboardBtn{
  float: none;
}
.header span{
  background:none;
  color:#333333;
  font-weight: 200;
  transition: .25s all ease-in;
  cursor: pointer;
}
.header span:hover{
  color:#6B889D;
  background: none;
  border: none;
}
[class^="icon-"]{
  font-size: 30px;
  font-weight: 700;
}
.authEmail {
  margin-top: 10px;
}
.search {
  margin: 40px 0 80px 10px;
}
.icon-searchMaster{
  margin-left: -34px;
}
.inline{
  display: inline-block;
}
.row .columns .searchChal{
  min-height: 240px;
}
.chalSol {
  min-height: 200px;
  font-family: monospace;
}
.createdOn{
  margin-bottom: 20px;
}
form input {
  width: 220px; height: 35px;
  margin: 10px 0;
}
.msg {
  color: #D63284;
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}
.solutionMsg{
	color: #D63284;
  font-size: 18px;
  font-weight: 700;
	text-align: center;
}
.userBottom{
  margin-top: 20px;
  border-top: 3px solid #434343;
  border-bottom: 3px solid #434343;
  min-height: 200px;
}
.chalh1{
  margin-top: -10px;
}
.chalType {
  margin-top: 10px;
  height: 123px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #919191;
}
textarea {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #919191;
  margin-bottom: 30px;
}
.tall{
  min-height: 140px;
  font-family: monospace;
}
label{
  font-weight: 700;
}
.pullUp{
  margin-top: 42px;
}
.pullDown{
  margin-top: 40px;
}
.submitBtns{
  input{
    width: 150px;
  }
  button {
    width: 150px;
  }
}
.searchChal{
  background: #fff;
  border: 2px dotted #ccc;
  margin: 10px auto 50px;
  padding: 0 20px;
  position: relative;
}
.searchChal h2{
  margin: 30px 0 0 0;
  font-weight: 700;
  font-size: 20px;
}
.searchChal h2 span{
  font-size: 20px;
  float: right;
}
.searchChal h2 span:nth-child(5){
  color: #9B6B9D;
}
.searchChal2 h2 span:nth-child(5),.searchChal2 h2 span:nth-child(4),.searchChal2 h2 span:nth-child(3),.searchChal2 h2 span:nth-child(3){
  color: #9B6B9D;
}
.searchChal {
  font-size: 16px;
}
.viewChalChal{
  margin: 20px auto 0;
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}
.favBack, .mychalBack{
  background: #d3d3d3;
  padding: 10px;
}
.userBtmUser{
  background: #d3d3d3;
}
p strong span{
  font-weight: 100;
}
footer p{
  font-size: 12px;
  text-align: center;
}
.hljs {
  margin-left: 0px;
}
.submitBtns {
  input{
    color: #fff;
    background-color: #6B969D;
    border-color: #6B969D;
    transition: .25s all ease-in;
  }
  button{
    float: none;
  }
}
