<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>WB DB</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT  ????????????????????????????????NEED to CONDENSE FONTS INTO ONE REQUEST??????????????????????????????????????
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Bree+Serif|Open+Sans+Condensed:700,300,300italic" rel="stylesheet" type="text/css">
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8"> <!--CSS AGENT STYLES-->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/favicon.i"> -->

  </script>

  <style>

  </style>

</head>
<body data-ng-app="wbdbApp" data-ng-controller="NavController">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <header>
      <div class="container">
        <div class="row">
          <div class="twelve columns header" data-ng-cloak>
            <h1 style="display:inline-block;"><a data-ui-sref="home()"><span>WB</span><span class="icon-data"></span>db</a></h1>
              <span class="icon-search login searchDB" data-ng-if="location.url() !== '/'" class="" data-ui-sref="home()"></span>
              <button data-ng-if="!loggedIn && !loginPage " type="button" name="button" class="login" data-ui-sref="auth()">Login</button>
              <button data-ng-if="loggedIn" data-ng-click="logout()" type="button" name="button" class="login logout" data-ui-sref="home()">Logout</button>
              <button data-ng-if="loggedIn && !isAdmin && location.url() !== '/user'" type="button" name="button" class="login loginSpec" data-ui-sref="user()">My Dashboard</button>
              <button data-ng-if="loggedIn && isAdmin && location.url() !== '/admin'" type="button" name="button" class="login" data-ui-sref="admin()">Admin Dashboard</button>
          </div>
        </div>
      </div>
    </header>

    <main data-ui-view>

    </main>

    <div class="row">
      <div class="twelve columns">
        <footer><p>WhiteBoard db &copy 2016</p></footer>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="bundle.js">
  </script>


<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
