<div>
  <h1>Welcome Admin!</h1>
  <div class="row">
    <div class="twelve columns" data-ng-init="getQueue()">
      <h2>Pending Challenges</h2>
      <section class="searchChal" data-ng-repeat="challenge in queue">
        <!--add toggle show hide-->
        <h2>{{challenge.title}}</h2><span>{{challenge.difficulty}}</span>

        <button type="button" name="button" class="viewChal"
          data-ui-sref="challenge({ challengeData: challenge, id: challenge._id })">
          View Full Favorite
        </button>
        <p>{{challenge.question}}</p>
        <p>{{challenge.author}}</p>
        <p>{{challenge.tags}}</p>
      </section>
    </div>
  </div>
</div>
