<h1>{{username}}'s Challenges</h1>

<div class="row">
  <div class="twelve columns" data-ng-init="getUserChallenges()">
    <section class="searchChal"  onclick="this.style.height = '100%'"
    data-ng-repeat="challenge in challenges">
      <h2>{{challenge.title}}</h2>

        <button type="button" name="button" class="viewChal viewChalChal"
        data-ng-click="redirect(challenge._id)">Select</button>
      <p>{{challenge.question}}</p>
      <p>Tags:
        <a data-ng-repeat="tag in challenge.tags" data-ng-click="searchTag(tag)">{{tag}}, </a>
      </p>
    </section>
  </div>
</div>

<h1>{{username}}'s Solutions</h1>

<div class="row">
  <div class="twelve columns" data-ng-init="getUserSolutions()">
    <section class="searchChal"  onclick="this.style.height = '100%'"
    data-ng-repeat="solution in solutions">
      <div hljs source='solution.solution' language='javascript'></div>
        <button type="button" name="button" class="viewChal viewChalChal"
        data-ng-click="redirect(solution.challengeId)">Select</button>
    </section>
  </div>
</div>
